USE [master]
GO
/****** Object:  Database [bd_pedidos03]    Script Date: 08/11/2024 12:01:45 ******/
CREATE DATABASE [bd_pedidos03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_pedidos03', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\bd_pedidos03.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_pedidos03_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SENAI\MSSQL\DATA\bd_pedidos03_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_pedidos03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_pedidos03]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 08/11/2024 12:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[idpedido] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](40) NOT NULL,
	[localidade] [varchar](20) NOT NULL,
	[prioridade] [varchar](5) NOT NULL,
	[statuspedido] [varchar](15) NOT NULL,
	[datapedido] [date] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_pedido] PRIMARY KEY CLUSTERED 
(
	[idpedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 08/11/2024 12:01:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](40) NOT NULL,
	[email] [varchar](80) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_pedido_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[usuario] ([idusuario])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_pedido_usuario]
GO
USE [master]
GO
